*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;

}


body, html {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./components/assets/background.jpg) no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.logo-register{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}